---
import Layout from '../layouts/Layout.astro';
import ProjectSidebar from "../components/ProjectSidebar.astro";
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<Layout title="Home">
	<div class="flex flex-row h-full w-full">
		<ProjectSidebar />
		<div class="flex flex-row w-full gap-4 overflow-x-scroll scroll-smooth">
			<ProjectLayout title="Web Development">
				<div id="WebDev" class="">
					<h1>Coming soon...</h1>
				</div>
			</ProjectLayout>
			<ProjectLayout title="Software Engineering">
				<div id="SoftwareEngineering" class="">
					<h1>Coming soon...</h1>
				</div>
			</ProjectLayout>
			<ProjectLayout title="Aerospace Engineering">
				<div id="AerospaceEngineering" class="">
					<h1>Coming soon...</h1>
				</div>
			</ProjectLayout>
		</div>
	</div>
</Layout>
