---
import Layout from '../layouts/Layout.astro';
---

<style>
    .container {display: flex}
    .resume {margin: auto auto}
</style>

<Layout title="Projects">
    <div class="flex p-2">
        <div class="resume">
            <embed src="/Rothschild_Resume.pdf" width="900px" height="810px" />
        </div>
    </div>
</Layout>