---
import myPic from '../images/me/RobPicMain.jpg';
---

<style>
  #theNavbar {
    align-items: stretch;
    display: flex;
  }
</style>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
      <div  class="navbar-start">
          <a href="/RobSite2/" class="navbar-item">Home</a>
          <a href="/RobSite2/Projects" class="navbar-item">Projects</a>
          <a href="/RobSite2/Resume" class="navbar-item">Resume</a>
      </div>
      <div class="navbar-end">
          <!-- navbar items -->
      </div>
  </div>
</nav>