---
---
<nav class="navbar is-link">
    <div class="navbar-start">
        <a href="/RobSite2" class="navbar-item">Home</a>
        <a href="/RobSite2/Projects" class="navbar-item">Projects </a>
        <a href="/RobSite2/Blog" class="navbar-item">Blog</a>
        <a href="/RobSite2/Resume" class="navbar-item">Resume</a>
    </div>
</nav>