<div class="navbar-container">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Projects">Projects</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/Resume">Resume</a></li>
    </ul>
</div>