---
---
<nav class="navbar is-link">
    <div class="navbar-start">
        <a href="/" class="navbar-item">Home</a>
        <a href="/Projects" class="navbar-item">Projects </a>
        <a href="/Blog" class="navbar-item">Blog</a>
        <a href="/Resume" class="navbar-item">Resume</a>
    </div>
</nav>