---
import Layout from './Layout.astro';
---

<style>
    .sideMenu {margin-left: 1em;}
</style>

<Layout title='Projects'>
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="sideMenu">
                <aside class="menu">
                    <p class="menu-label">
                      Projects
                    </p>
                    <ul class="menu-list">
                      <li><a href="/Projects/">Web Development</a></li>
                      <li><a href="/Projects/SoftwareEng">Software Engineering</a></li>
                      <li><a href="/Projects/AeroEng">Aerospace Engineering</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="column">
            <div>
                <slot/>
            </div>
        </div>
    </div>
</Layout>